<p>details works!</p>
<div>
    id: {{person.id}}
</div>
<div>
    name: {{person.name}} 
</div>
<div>
    adress: {{person.adress}} 
</div>
<div>
    email: {{person.email}} 
</div>
<div>
    number: {{person.number}}
</div>
<!-- <table>
    <tr>
      <th>ID</th> &nbsp;&nbsp;&nbsp;
      <th>Name</th> &nbsp;&nbsp;&nbsp;
      <th>Adress</th> &nbsp;&nbsp;&nbsp;
      <th>Email</th> &nbsp;&nbsp;&nbsp;
      <th>Number</th> &nbsp;&nbsp;&nbsp;
    </tr>
    <tr>
      <td>{{person.id}}</td> &nbsp;&nbsp;&nbsp;
      <td>{{person.name}}</td> &nbsp;&nbsp;&nbsp;
      <td>{{person.adress}}</td> &nbsp;&nbsp;&nbsp;
      <td>{{person.email}}</td> &nbsp;&nbsp;&nbsp;
      <td>{{person.number}}</td> &nbsp;&nbsp;&nbsp;
      <td></td>
    </tr>
  </table> -->
